.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

/* Optional: Hover effect */
.swiper-slide:hover {
  transform: scale(1.03);
}

/* Remove navigation bullets if not needed */
.swiper-pagination-bullet {
  background: #022851;
}

.swiper-pagination-bullet-active {
  background: #022851;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.carousel {
  animation: scroll 45s linear infinite;
}

.carousel:hover {
  animation-play-state: paused;
}

.w-128 {
  width: 32rem;
}

.max-w-128 {
  max-width: 32rem;
}

.h-128 {
  height: 32rem;
}

/* New smaller size classes */
.w-80 {
  width: 20rem;
}

.max-w-80 {
  max-width: 20rem;
}

.h-80 {
  height: 20rem;
}

/* Size classes */
.w-56 {
  width: 14rem;
}

.max-w-56 {
  max-width: 14rem;
}

.h-56 {
  height: 14rem;
}

.w-64 {
  width: 16rem;
}

.max-w-64 {
  max-width: 16rem;
}

.h-64 {
  height: 16rem;
}

/* Larger size classes */
.w-72 {
  width: 18rem;
}

.max-w-72 {
  max-width: 18rem;
}

.h-72 {
  height: 18rem;
}

.w-96 {
  width: 24rem;
}

.max-w-96 {
  max-width: 24rem;
}

.h-96 {
  height: 24rem;
}
